@model F2021A6LF.Models.TrackBaseViewModel

@{
    ViewBag.Title = "Track Details";
}

<h2>Track details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioUrl)
        </dt>

        <dd>
            <audio src="/clip/@Model.Id" controls="controls"></audio>
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composers)
            <hr />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
