@model F2021A6LF.Models.ArtistWithDetailViewModel

@{
    ViewBag.Title = "Details";
    var userAccount = new F2021A6LF.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
}

<h2>Artist details - @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.UrlArtist)" alt="" width="200" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Career)
            </div>
            @*@Html.DisplayFor(model => model.Career)*@
            <hr />
        </dd>

    </dl>
</div>
@if (userAccount.HasRoleClaim("Coordinator"))
{
    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Add album for this artist", "AddAlbum", new { id = Model.Id }) |
        @Html.ActionLink("Add media for this artist", "AddMediaItem", new { id = Model.Id })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Add media for this artist", "AddMediaItem", new { id = Model.Id })
    </p>
}