<!DOCTYPE html>
<html>
<head>
    <!-- Do not modify below this line -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="e2b97be9-873f-41ce-92e8-f8fe5534a9d9" />
    <!-- Do not modify above this line -->

    <title>@ViewBag.Title - F2021A6LF</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var userAccount = new F2021A6LF.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Assignment 5", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (userAccount.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Artists", "Index", "Artists")</li>
                        <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                        <li>@Html.ActionLink("Tracks", "Index", "Tracks")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; WEB 524 -Fall @DateTime.Now.Year - Lingxiang Fan@@lfan22</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
